<div class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col1">
                <h3>Coordonnées</h3>
                <ul>
                    <li>3 rue Saint Vincent de Paul</li>
                    <li>89420 Savigny-en-Terre-Plaine</li>
                    <li>03 86 32 59 50</li>
                    <li>eric.belouet@ebconnections.com</li>
                </ul>
            </div>
            <div class="footer-col2">
               <img src="images/logo.png">
                <h4>Votre Partenaire "Connectique"</h4>
            </div>
            <div class="footer-col3">
               <h3>Liens Utiles</h3>
                <ul>
                    <li><a href="mentions.php" class="lien">Mentions légales</a></li>
                    <li><a href="politique.php" class="lien">Politique de confidentialité</a></li>
                    <li><a href="cookies.php" class="lien">Politique des cookies</a></li>
                    <li><a href="CGV.php" class="lien">CGV</a></li>
                </ul>
            </div>
            <div class="footer-col4">
               <h3>Suivez-nous</h3>
                <ul>
                    <li><a class="lien" href="https://www.linkedin.com/company/ebconnections/?originalSubdomain=fr">Linkedin</a></li>
                    <li><a class="lien" href="https://www.facebook.com/EbconnectionsFR/">Facebook</a><li>
                    
                        <br>
                        <br>
                
                   
                </ul>

            </div>
        </div>
        <hr>
        <p class="copyright">Copyright 2023 - EBconnections</p>
    </div>
    
</div>



<!-------------js for toggle menu-------------->




</body>
</html>
