RewriteEngine On
RewriteBase /EBCO-git/

# Rediriger toutes les requêtes vers le fichier index.php?page=xxx
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)$ index.php?page=$1 [QSA,L]
RewriteRule ^details/([^/]+)$ index.php?page=details&nom=$1 [QSA,L]