* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}



a {
    text-decoration: none;
    color: #1A171B;
}

p {
    color: #1A171B;
}

hr {
    border-top: 1px dotted #777;
}

/* .parag attribué au 1er paragraphe de l'index  */
.parag {
    font-size: 20px;

}

.header {
    /* background: radial-gradient(#48afdb,#fff); */
    background: linear-gradient(45deg, rgba(255, 255, 255, 1) 27%, rgba(72, 175, 219, 1) 85%, rgba(72, 175, 219, 1) 100%);
}

h1 {
    color: #1A171B;
}

.container {
    width: 100%;
    margin: auto;


}

body {
    font-family: Arial;
    margin: 0;
    padding: 0;

}

.navbar {
    background: rgba(72, 175, 219, 1);
    overflow: hidden;


}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;

    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ddd;
  
    color: black;
  
}

nav {
    flex: 1;
    text-align: right;
    font-size: 20px;
    margin-right: 5%;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
    color: #1A171B;
}

.dropdown {

    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ddd;

    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-top: 46px;
}

.dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
 /
}

.dropdown:hover .dropdown-content {
    display: block;
}



.menu-icon {
    display: none;
    width: 28px;
    margin-left: 20px;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;



}

.header .row {
    margin-top: 70px;
}

.col-1 {
    flex-basis: 50%;
    min-width: 300px;
    margin-right: 30px;
}

.col-2 {
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 ul li {
    list-style-type: none;
}

.col-2 img {
    max-width: 100%;
    padding: 50px 0;
}

.col-2 h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
    text-align: start;

}

.col-2 h2 {

    margin-left: 10px;
    margin-bottom: 10px;
}

.col-2 p {
    margin-left: 10px;
}

.col-2 a {
    margin-left: 10px;
}

.btn {
    display: inline-block;
    background: #009ee0;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}

.btn:hover {
    background: #02658f;
}

/*-----------------------------*/
.categories {
    margin: 70px 0;
}

.small-container {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.col-3 {
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}

.col-3 img {
    width: 100%;
}

/*-------featured product--------------*/

.title {
    text-align: center;
    margin: 0px auto 80px;
    position: relative;
    line-height: 60px;
    color: #1A171B;
}

.title::after {
    content: '';
    background: #009ee0;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}


.col-4 {

    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;



}

.col-4 img {
    width: 100%;
}

h4 {
    color: #1A171B;
    font-weight: normal;
}

.col-4 p {
    font-size: 14px;
}

.rating .fa {
    color: #009ee0;
}

.col-4:hover {
    transform: translateY(-5px);
}



.col-4:hover {
    transform: translateY(-5px);
}


/*-----------offer-------------*/
.offer {
    background: radial-gradient(#fff, #009ee0);
    margin-top: 80px;
    padding: 30px 0;
}

.col-2 .offer-img {
    padding: 50px;
}

small {
    color: #1A171B;
}

/*--------------------presentation---------------*/

.testimonial {
    padding-top: 100px;
}

/*  */
.testimonial .col-3 {
    text-align: center;
    padding: 40px 20px 40px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform .5s;
}

.testimonial .col-3 img {
    width: 280px;
    height: 280px;

    margin-top: 20px;
    border-radius: 50%;
}



.testimonial .col-3 h3 {
    font-weight: 600;
    color: #333;
    margin: 20px 0px;
    font-size: 20px;
}

.testimonial .col-3:hover {
    transform: translateY(-10px);
}

/*--------------- brands ------------*/

.brands {
    margin: 100px auto;
}

.brands .row {
    display: flex;
    justify-content: center;
    /* Centre les éléments horizontalement */
}

.col-5 {
    width: 160px;
    margin-left: 10px;
}

.col-5 img {
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}

.col-5 img:hover {
    filter: grayscale(0);
}

/*---------footer-------*/

.footer {
    background: #1A171B;
    color: #8a8a8a;
    font-size: 16px;
    padding: 60px 0 20px;

}

.footer p,
h4 {
    color: #8a8a8a;
}

.footer h3 {
    color: #fff;
    margin-bottom: 20px;
}

.footer-col1,
.footer-col2,
.footer-col3,
.footer-col4 {
    min-width: 250px;
    margin-bottom: 20px;
}

.footer-col1 {
    flex-basis: 30%;
 margin-left: 20px;
}
.footer-col1 ul li {
  margin-bottom: 2px;
}

.footer-col2 {
    flex: 1;
    text-align: center;
}

.footer-col2 img {
    width: 180px;
    margin-bottom: 20px;
}

.footer-col3,
.footer-col4 {
    flex-basis: 12%;
    text-align: center;
}

.app-logo {
    margin-top: 20px;
}

.app-logo img {
    width: 140px;
}

.footer li {
    display: block;

}
.facebook,
.linkedin{
    width: 16px;
    height: 16px;
    margin-left: 10px;
}
.lien {
    color: #8a8a8a;
}

.footer hr {
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}

.copyright {
    text-align: center;

}

/*-------media-query-for-max-width-800---------*/


@media only screen and (max-width: 800px) {


    nav ul {
        position: absolute;
        height: 13%;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: 1s;
        max-height: 0;
        transition: max-height 0.5s;
    }

    nav ul li {
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    nav ul li a {
        color: #fff;
    }

    .menu-icon {
        display: block;
        cursor: pointer;
    }


    .banderole{
        margin-top: 70px;
    }


}



/*---------- 600 media query -------*/
@media only screen and (max-width: 600px) {

    .row {
        text-align: center;
    }

    .col-1,
    .col-2,
    .col-3,
    .col-4 {

        flex-basis: 100%;
    }
}

/*----------All Product page------------*/


.row-2 {
    justify-content: space-between;
    margin: 100px auto 50px;
}

select {
    border: 1px solid #009ee0;
    padding: 5px;
}

select:focus {
    outline: none;
}

.page-btn {
    margin: 0 auto 80px;
}

.page-btn span {
    display: inline-block;
    border: 1px solid #009ee0;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}

.page-btn span:hover {
    background: #009ee0;
    color: #fff;
}



/*---------product details-----------*/
.single-product {
    margin-top: 80px;
}

.single-product .col-2 img {
    padding: 0;
}

.single-product .col-2 {
    padding: 20px;
}

.single-product h4 {
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}

.single-product select {
    display: block;
    padding: 10px;
    margin-top: 20px;
}

.single-product input {
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #009ee0;
}

input:focus {
    outline: none;
}

.single-product .fa {
    color: #009ee0;
    margin-left: 10px;
}

.small-img-row {
    display: flex;
    justify-content: space-between;
}

.small-img-col {
    flex-basis: 24%;
    cursor: pointer;
}


/*-------600 media query---------*/



@media only screen and (max-width: 600px) {
    .single-product .row {
        text-align: left;
    }

    .single-product .col-2 {
        padding: 20px 0;
    }

    .single-product h1 {
        font-size: 26px;
        line-height: 22px;
    }
}

/*---------------- page panier -----------*/

.cart-page {
    margin: 80px auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.cart-info {
    display: flex;
    flex-wrap: wrap;
}



th {
    text-align: left;
    padding: 5px;
    color: #fff;
    background: #009ee0;
    font-weight: normal;
}

td {
    padding: 10px 5px;
}

td input {
    width: 40px;
    height: 30px;
    padding: 5px;
}

td a {
    color: #009ee0;
    font-size: 12px;
}

td img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
}


.total-price {
    display: flex;
    justify-content: flex-end;

}

.total-price table {
    border-top: 3px solid #009ee0;
    width: 100%;
    max-width: 350px;
}

td:last-child {
    text-align: right;
}

th:last-child {
    text-align: right;
}

@media only screen and (max-width: 600px) {
    .cart-info p {
        display: none;
    }
}

/*-------page compte--------*/

.account-page {
    padding: 50px 0;
    background: linear-gradient(#fff, #009ee0);
}

.form-container {
    background: #fff;
    width: 300px;
    height: 400px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.form-container span {
    font-weight: bold;
    padding: 0 10px;
    color: #1A171B;
    cursor: pointer;
    width: 100px;
    display: inline-block;
}

.form-btn {
    display: inline-block;
}

#indicator {
    width: 100px;
    border: none;
    background: #009ee0;
    height: 3px;
    margin-top: 8px;
    transform: translateX(100px);
    transition: transform 1s;
}

.form-container form {
    max-width: 300px;
    padding: 0 20px;
    position: absolute;
    top: 130px;
    transition: transform 1s;
}

form input {
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #ccc;
}

form input:focus {
    outline: none;
}

form .btn {
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}

form .btn:focus {
    outline: none;
}

form a {
    font-size: 12px;
}

#LoginForm {
    left: -300px;
}

#RegForm {
    left: 0;
}

/* CGV */
.cgv {
    text-align: center;
    margin-bottom: 10px;
}

/* mentions */
.mentions {
    min-height: 600px;
    padding: 60px 60px 40px 60px;

}

.entrep {
    padding: 20px;
}

.bleu {
    /* background: linear-gradient(#fff,#009ee0); */
    /* background: rgb(255,255,255);
background: radial-gradient(circle, rgba(255,255,255,1) 65%, rgba(72,175,219,0.4598214285714286) 93%, rgba(72,175,219,0.46262254901960786) 100%); */
    /* background: rgb(255, 255, 255); */
    /*background: radial-gradient(circle, rgba(255,255,255,1) 72%, rgba(72,175,219,0.4598214285714286) 93%, rgba(72,175,219,0.46262254901960786) 100%);*/
    background: radial-gradient(circle, rgb(255, 255, 255, 1), rgb(0, 158, 224, 0.4598214285714286), rgb(151, 191, 13, 0.46262254901960786));
}

.mb-3 {
    min-width: 500px;
}

input {
    height: 30px;
    width: 500px;
}

.message {
    min-height: 200px;
    min-width: 500px;
}

.vingtpx {
    font-size: 22px;
}




.show {
    display: block;
}






.col-usb h3 {
    color: #1A171B;
    font-weight: normal;

}



.row-usb {
    display: flex;
    flex-wrap: wrap;
justify-content: space-between;

}


.col-usb {


    width: 300px;
    overflow: hidden;

    cursor: pointer;
    flex-basis: 25%;
    padding: 10px;
    flex-basis: calc(25% - 30px);
    margin-left: 30px;
    margin-bottom: 30px;
    transition: transform 0.5s;
    border: 1px solid #ddd;



}



.col-usb img {
    width: 100%;

}

.col-usb h2 {
    text-align: center;

}

.col-usb p {

    font-size: 14px;
    line-height: 1.5;
    margin-top: 10px;
    padding: 10px;
    margin-right: 40px;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
}





.details-list {
    display: none;
    text-align: left;
}

.col-usb:hover {
    transform: translateY(-5px);
}

.row-2-usb {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 100px auto 50px;
}

.row-2-usb h2 {
    text-align: center;
}

.row-2-usb p {
    align-items: flex-start;
    font-size: 16px;
    line-height: 1.5;
    max-width: 600px;
    margin: 20px auto;
}


.row-2-usb select {
    align-self: flex-end;
}






.navbar-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo img {
    width: 100%;
    /* Ajustez la largeur selon vos besoins */
}



.navbar-logo li {
    display: inline-block;
    list-style: none;
    margin-left: 10px;

}

.navbar-logo form {
    display: inline-block;
    list-style: none;
    margin-left: 10px;

}

.form-Commande {
    display: block;
    background: #fff;
    width: 70%;

    position: relative;
    margin-top: 15px;
    margin-left: 10%;

    padding: 10px 20px;


    box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: black 1px solid;
}

.commande {
    background: #fff;
    width: auto;
    margin: auto;
    display: flex;
    box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: solid gray 1px;
    align-items: center;
    /* Alignement vertical au centre */
    padding: 10px;
}

/* Ajustez la largeur de l'input selon vos besoins */
.commande input[type="radio"] {
    width: 15px;
    height: 15px;
    /* Ajustez la hauteur selon vos besoins pour créer un cercle */
    margin-right: 10px;
}

/* Ajustez le style du label pour qu'il occupe tout l'espace restant */
.commande label {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.lien-adresse a {
    color: #0066C0;
}

.separator {
    border-top: 1px solid black;
    width: 100%;
    height: 0;
    margin: 10px 0;
    /* Ajustez la marge selon vos besoins */
}

/*----------Recap commande----------*/

.recap {
    width: 30%;
    margin-left: 5%;
    /* Limitation de la largeur maximale pour une meilleure lisibilité */
    border: 1px solid #ddd;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.produit-recap {
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 10px;
    /* Ajout de remplissage pour une meilleure séparation */
}

.recap h2 {
    color: #333;
    font-size: 18px;
    /* Augmentation de la taille de la police pour le titre */
    margin-bottom: 15px;
    /* Espace en bas du titre pour séparation du contenu en dessous */
}

.recap p {
    font-size: 14px;
    margin-bottom: 8px;
    /* Espace en bas de chaque paragraphe pour une meilleure séparation */
}

/* Style pour le montant total */
.recap .total {
    font-size: 16px;
    font-weight: bold;
}



.cont {
    display: flex;
}


/*----------Formulaire Commandes----------*/
.container-achat {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    display: none;
    justify-content: center;



}


.col-2-achat {
    flex-basis: 50%;
    min-width: 300px;
}


.form-container-achat {


    width: auto;
    /* Ajustez la largeur du formulaire selon vos besoins */
    height: auto;
    /* Ajustez la hauteur du formulaire selon vos besoins */
    position: relative;

    padding: 10px 20px;
    /* Ajustez les marges intérieures selon vos besoins */
    margin-top: 15px;
    margin-left: 15px;


}





.section-nom h2 {
    margin-bottom: 10px;
}

.div-nom {
    display: flex;
}

.div-nom label {
    margin-right: 10px;
    margin-left: 10px;
}

.div-nom input {
    border-radius: 15px;

}


.info h2 {
    margin-bottom: 10px;
}

.info input {
    border-radius: 15px;
}

.adresse h2 {
    margin-bottom: 10px;
}

.adresse input {
    border-radius: 15px;
}



.form-container-achat label {
    display: block;
    /* Affichez les libellés sur des lignes séparées */
    margin-bottom: 5px;
    /* Ajustez la marge entre les libellés */
}

.form-container-achat input,
.form-container-achat select {
    width: 100%;
    /* Ajustez la largeur des champs de saisie pour remplir la largeur du formulaire */
    padding: 5px;
    /* Ajustez le rembourrage des champs de saisie */
    margin-bottom: 10px;
    /* Ajustez la marge entre les champs de saisie */
}

.form-container-achat legend {
    font-size: 1.2em;
    /* Ajustez la taille de la légende */
    margin-bottom: 10px;
    /* Ajustez la marge sous la légende */
}

/*----------Connexion----------*/

.co {
    display: flex;
    justify-content: center;



}

.contain h3 {
    text-align: center;
}



.connexion {
    margin: 10px;
}

.connexion input {

    border-radius: 15px;

}





/*----------Enregistrement----------*/
.reg {
    margin-top: 10px;
    margin-left: 10px;
}

.reg input {
    border-radius: 15px;

}



.step {
    margin: 20px auto 0;
}

.step-content {
    display: flex;
    justify-content: space-between;
    margin: 50px auto 70px;
    max-width: 768px;
    position: relative;
}



.cart-item {
    background: #fff;
    border: 2px solid #20548e;
    border-radius: 50%;
    display: block;
    height: 40px;
    margin-right: auto;
    position: relative;
    width: 40px;
    text-align: center;
    line-height: 40px;
    color: #20548e;
    text-decoration: none;
    font-weight: bold;
}

.cart-item.completed {
    background-color: #20548e;
    color: #fff;
}

.cart-item span {
    bottom: calc(100% + 7px);
    color: #20548e;
    font-size: 14px;
    font-weight: 500;
    left: 50%;
    margin-left: -75px;

    position: absolute;

    width: 150px;
}

.form-separator {

    border: 1px solid rgba(0, 0, 0, 0.1);

}

.paiement {
    display: flex;
    justify-content: center;
}

.paypal {
    width: 30%;
    height: 30%;
}

.cart {
    width: 65%;
}

.verif {
    display: none;

}

.info-commande {

    padding: 15px;
    border: 1px solid #ddd;
    margin: 20px;
    width: 20%;


}

.modifier {
    color: blue;
    cursor: pointer;
    text-decoration: underline;

}

.lienDoc {

    color: blue;
}



.container-facturation {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    display: none;
    justify-content: center;

}

.livraison {
    margin-right: 5px;
    width: 30px;

}

.livraison-container {
    display: flex;
    align-items: center;
}


.recapAdresse {
    border: 1px solid #ccc;
    padding: 15px;
    margin: 10px;
    border-radius: 15px;
    background-color: #f9f9f9;

    width: 25%;
    display: none;
}

#modifier {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

/* Styles généraux du panier */
.page-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    margin: 0;
}

.Panier {

    width: 300px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-end;
    z-index: 2000;
    /* Assurez-vous que le panier est au-dessus de l'overlay */
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    /* Couleur d'arrière-plan semi-transparente */
    display: none;
    z-index: 1000;
    /* Assurez-vous que l'overlay est au-dessus de tout le reste */
}

/* Styles de l'en-tête du panier */
.Panier_header {
    padding: 10px;
    background-color: #f1f1f1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.Panier_header span {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.Panier_header button {
    background: none;
    border: none;
    cursor: pointer;
}

/* Styles du corps du panier */
.Panier_body {
    padding: 10px;
    max-height: 50vh;
    overflow-y: auto;
}

/* Styles des produits dans le panier */
.produit {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 10px;
}



.produit div {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.produit p {
    margin: 0;
    font-size: 16px;
}

.produit small {
    font-size: 14px;
    color: #777;
}

.produit a {
    margin-top: 5px;
    /* Espacement entre le prix et le lien de suppression */
}

.produit input {
    width: 50px;
}

/* Styles du bouton de fermeture */
.Panier_close {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;

    padding: 0;

    color: var(--t4s-dark-color);
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Styles du pied du panier */
.Panier_footer {
    padding: 10px;
    background-color: #f1f1f1;
    display: flex;
    width: 100%;
    flex-direction: column;
}

.btnPanier {

    display: inline-block;
    background: transparent;
    color: black;
    padding: 8px 30px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 1px solid gray;
    border-radius: 5px;
    transition: background 0.5s;

    width: 50%;
}


.Panier_footer p {
    font-size: 16px;
    font-weight: bold;
    color: #333;
}


.small-input {
    width: 30px;
}

.produit div {
    display: flex;
    flex-direction: column;
}



/* Pour Chrome, Safari, Edge et Opera */
::-webkit-scrollbar {
    width: 8px;
    /* Largeur de la barre de défilement */
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    /* Couleur de la poignée de la barre de défilement */
    border-radius: 4px;
    /* Bord arrondi de la poignée */
}



/*----------Caroussel----------*/

.carousel {
    position: relative;
}

#demo {
    margin: 30px;
}



.carousel.pointer-event {
    touch-action: pan-y;
}

.carousel-inner {
    position: relative;

    overflow: hidden;
    display: flex;
    flex-direction: row;
}

.carousel-inner::after {
    display: block;
    clear: both;
    content: "";
}

.carousel-item {
    position: relative;
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    margin-right: -100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: transform 1s ease-in-out;
    height: 100%;
}

@media (prefers-reduced-motion: reduce) {
    .carousel-item {
        transition: none;
    }
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
    display: block;
}

.carousel-item-next:not(.carousel-item-start),
.active.carousel-item-end {
    transform: translateX(100%);
}

.carousel-item-prev:not(.carousel-item-end),
.active.carousel-item-start {
    transform: translateX(-100%);
}

.carousel-fade .carousel-item {
    opacity: 0;
    transition-property: opacity;
    transform: none;
}

.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-start,
.carousel-fade .carousel-item-prev.carousel-item-end {
    z-index: 1;
    opacity: 1;
}

.carousel-fade .active.carousel-item-start,
.carousel-fade .active.carousel-item-end {
    z-index: 0;
    opacity: 0;
    transition: opacity 0s 0.6s;
}

@media (prefers-reduced-motion: reduce) {

    .carousel-fade .active.carousel-item-start,
    .carousel-fade .active.carousel-item-end {
        transition: none;
    }
}

.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    padding: 0;
    color: #fff;
    text-align: center;
    background: none;
    border: 0;
    opacity: 0.5;
    transition: opacity 0.15s ease;
}

@media (prefers-reduced-motion: reduce) {

    .carousel-control-prev,
    .carousel-control-next {
        transition: none;
    }
}

.carousel-control-prev:hover,
.carousel-control-prev:focus,
.carousel-control-next:hover,
.carousel-control-next:focus {
    color: #fff;
    text-decoration: none;
    outline: 0;
    opacity: 0.9;
}


.carousel-control-prev {
    left: 0;
}

.carousel-control-next {
    right: 0;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100% 100%;
}

/* rtl:options: {
    "autoRename": true,
    "stringMap":[ {
      "name"    : "prev-next",
      "search"  : "prev",
      "replace" : "next"
    } ]
  } */
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-right: 15%;
    margin-bottom: 1rem;
    margin-left: 15%;
}

.carousel-indicators [data-bs-target] {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 30px;
    height: 3px;
    padding: 0;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
    background-clip: padding-box;
    border: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: 0.5;
    transition: opacity 0.6s ease;
}

@media (prefers-reduced-motion: reduce) {
    .carousel-indicators [data-bs-target] {
        transition: none;
    }
}

.carousel-indicators .active {
    opacity: 1;
}

.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 1.25rem;
    left: 15%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: center;
}

.carousel-caption h3 {
    color: #000;
}

.carousel-dark .carousel-control-prev-icon,
.carousel-dark .carousel-control-next-icon {
    filter: invert(1) grayscale(100);
}

.carousel-dark .carousel-indicators [data-bs-target] {
    background-color: #000;
}

.carousel-dark .carousel-caption {
    color: #000;
}

[data-bs-theme=dark] .carousel .carousel-control-prev-icon,
[data-bs-theme=dark] .carousel .carousel-control-next-icon,
[data-bs-theme=dark].carousel .carousel-control-prev-icon,
[data-bs-theme=dark].carousel .carousel-control-next-icon {
    filter: invert(1) grayscale(100);
}

[data-bs-theme=dark] .carousel .carousel-indicators [data-bs-target],
[data-bs-theme=dark].carousel .carousel-indicators [data-bs-target] {
    background-color: #000;
}

[data-bs-theme=dark] .carousel .carousel-caption,
[data-bs-theme=dark].carousel .carousel-caption {
    color: #000;
}



/* .small-container.single-product .col-2 {
    flex: 1;
    width: 100%;
    margin-left: 50px;
    margin-right: 50px;
} */


/* .small-container.single-product .imgDetail {
    width: 50%;
} */

/* .small-container.single-product table {
    width: 100%;
   
} */


a[href$=".pdf"] img {
    width: 30px;
    height: 30px;
}

/* Style for ZIP files */
a[href$=".zip"] img {
    width: 30px;
    height: 30px;

}




.active-thumbnail {
    display: none;
}





.row-details {

    align-items: flex-start;
    justify-content: space-around;

    width: 100%;



}



.col-detail-1 {
    display: flex;
    flex-direction: column;
 
    padding: 20px;

    border-radius: 8px;
    margin: 10px;


}

.produitContainer {
    display: flex;
    
    
    margin-top: 20px;
    width: 100%;


}



.produit1 {
    display: flex;
    margin-top: 20px;
    justify-content: space-around;
    
    
    width: 100%;

}

@media only screen and (max-width: 800px) {
    .produit1 {
        display: flex;
        flex-direction: column;
        
        
        margin-top: 20px;     
        
        
        width: 100%;
    
    } 
    .containerImages {
        display: flex;
   align-items: center;
    }
    
    .containerImages img{
        width: 100%;
    }
    .containerPrix{
        border-top: #000 1px solid;
        margin-top: 10px;
    }

    #demo{
       
        width: 100%;
    }
   
}

.produit1 img {


    border-radius: 8px;
    max-height: 100%;
    /* Assure que l'image ne dépasse pas la hauteur de l'élément du carrousel */



}



.produit2 {
    margin-left: 40px;
    margin-top: 30px;

}

.container-quantite {

    display: flex;
    align-items: center;


}

.container-quantite h3 {

    margin-right: 20px;


}



.produit2 h2 {
    margin-bottom: 30px;
}

.produit2 input {
    width: 50%;

    border-radius: 10px;



}

.produit2 .btn {
    text-align: center;
    margin-left: 10px;
    width: 95%;


}

.produit2 p {

    margin-bottom: 10px;

}



.doc,
.spef {

    margin-top: 30px;
}

.spef-p,
.doc-p {
    margin-top: 20px;
    width: 100%;
}

.doc-p strong,
.spef-p strong {
    margin-right: 10px;
}











.banderole {
    width: 100%;
    display: flex;
    text-align: center;
    margin-bottom: 20px;
    overflow-x: hidden;
}

.txt {
    white-space: nowrap;
    font-size: 20px;
    opacity: 1;
    display: inline-block;
    animation: Scroll 10s linear infinite;
}

.txt-2 {
    white-space: nowrap;
    font-size: 20px;
    opacity: 0;
    /* Le deuxième span est initialement invisible */
    display: inline-block;
    animation: Scroll 10s linear infinite;
    animation-delay: 5s;
    /* Le deuxième span commence après une itération complète du premier span */
}

@keyframes Scroll {
    0% {
        transform: translateX(100%);
        opacity: 1;
    }

    100% {
        transform: translateX(-100%);
        opacity: 1;
        /* Rend le deuxième span visible après une itération complète du premier span */
    }
}

.section3,
.section2,
.section1{

    display: flex;
    flex-direction: column;
  
  

}
.section3 input,
.section2 input,
.section1 input{
border-radius: 4px;
width: auto;
margin-left: 10px;
margin-right: 10px;
}


.section3 select,
.section1 select{
    margin-left: 10px;
margin-right: 10px;
border-radius: 4px;
margin-bottom: 10px;
}
.section3 label,
.section2 label,
.section1 label{
    margin-left: 10px;
}

.file{
    border: white;
}


.row-Form {
    display: flex;
   
    flex-wrap: wrap;
    justify-content: space-around;



}

.form-control{
    margin-top: 20px;
width: 100%;
border-radius: 4px;
}


.col-2-Contact h1{
text-align: start;
margin: 10px;
}
.col-2-Contact p {
    text-align: start;
    margin-left: 20px;
}

.row-index{
    display: flex;
    
    text-align: center;
    
      

}


.col-2-index h2, p{
 margin-left: 40px;
 margin-top: 20px;
    
}
.col-2-index h1{
    margin-left: 20px;
    margin-top: 20px;
       
   }

.col-2-index img{

height: 100%;
width: 50%;
}

.row-Solution{
display: flex;

justify-content: center;
margin-top: 5%;

}

.col-2-Solution{

text-align: start;
align-self: flex-start;
margin-right: 10%;


}
.col-2-Solution-img{
  margin-left: 5%;
    
}
    

 
